<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <title>Kampanie</title>

  </head>
  <body>
    <div class="container">
      <h1>Kampanie</h1>
      <div class="form-row">
            <div class="form-group col-md-12 srodek_button">
              <a class="btn btn-danger" href="http://127.0.0.1:8000" role="button">Formularz wysyłki mailingu</a>
            </div>
      </div>
      {% for kompania in kampanie reversed %}
      <div type="button" id = {{kompania.id}} class="btn btn-info btn-lg btn-block"><p>Nazwa: {{kompania.nazwa_kampanii}} Data wysłania: {{kompania.kiedy_wyslany}}</p>
        <p>Temat mailingu: {{kompania.temat_mailingu_pl}}</p>
        <p>PL:  CTR: {{kompania.ctr_pl}}%  OR: {{kompania.open_rate_pl}}%
          Wysłanych: {{kompania.dostarczone_wiadomosci_pl}}  Wypisało się: {{kompania.un_sub_pl}}
          HB: {{kompania.hard_bounces_pl}}</p>
        <p>EN:  CTR: {{kompania.ctr_en}}%  OR: {{kompania.open_rate_en}}%
          Wysłanych: {{kompania.dostarczone_wiadomosci_en}}  Wypisało się: {{kompania.un_sub_en}}
          HB: {{kompania.hard_bounces_en}}</p>
        <p>DE:  CTR: {{kompania.ctr_de}}%  OR: {{kompania.open_rate_de}}%
          Wysłanych: {{kompania.dostarczone_wiadomosci_de}}  Wypisało się: {{kompania.un_sub_de}}
          HB: {{kompania.hard_bounces_de}}</p>
        <p>FR:  CTR: {{kompania.ctr_fr}}%  OR: {{kompania.open_rate_fr}}%
          Wysłanych: {{kompania.dostarczone_wiadomosci_fr}}  Wypisało się: {{kompania.un_sub_fr}}
          HB: {{kompania.hard_bounces_fr}}</p>
        <button class = 'detale' id="detale_{{kompania.id}}" >Pokaż detale</button>
        <button class = 'generuj' id = "generuj_{{kompania.id}}">Wygeneruj zestawienie</button>
      </div>
      {%endfor%}
      <form name='form_id_kampanii_detale' method = 'POST' action="http://127.0.0.1:8000/detale_kampanii/">
        {% csrf_token %}
        <input type="hidden" name = 'form_id_kampanii_detale' id="form_id_kampanii_detale" >
      </form>
      <form name='form_id_kampanii_generuj' method = 'POST' action="http://127.0.0.1:8000/generuj_stats/">
        {% csrf_token %}
        <input type="hidden" name = 'form_id_kampanii_generuj' id="form_id_kampanii_generuj" >
      </form>
      
    </div>
    

    <!-- Optional JavaScript -->
    <script>
      $(document).ready(function() {
        $('.detale').click(function() {
          const id = $(this).attr('id');
          $('#form_id_kampanii_detale').val(id)
          $("form[name='form_id_kampanii_detale']").submit();
          });
        });
      $(document).ready(function() {
        $('.generuj').click(function() {
          const id = $(this).attr('id');
          $('#form_id_kampanii_generuj').val(id)
          $("form[name='form_id_kampanii_generuj']").submit();
          });
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>